{{ define "content" }}
<h2>Monitoring</h2>
<div class="row">
<div class="col-md-4 mb-3">
    <iframe src="http://192.168.1.107:8082/d-solo/rYdddlPWk/node-exporter-full?orgId=1&from=1751321997381&to=1751332958575&timezone=browser&var-DS_PROMETHEUS=eeq08km2qqupsc&var-job=node-exporter-db&var-nodename=409-db&var-node=192.168.195.3:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m&theme=light&panelId=323&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="col-md-4 mb-3">
    <iframe src="http://192.168.1.107:8082/d-solo/rYdddlPWk/node-exporter-full?orgId=1&from=1751321997381&to=1751332958575&timezone=browser&var-DS_PROMETHEUS=eeq08km2qqupsc&var-job=node-exporter-db&var-nodename=409-db&var-node=192.168.195.3:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m&theme=light&panelId=20&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
    </div>
  <div class="col-md-4 mb-3">
    <iframe src="http://192.168.1.107:8082/d-solo/rYdddlPWk/node-exporter-full?orgId=1&from=1751321997381&to=1751332958575&timezone=browser&var-DS_PROMETHEUS=eeq08km2qqupsc&var-job=node-exporter-db&var-nodename=409-db&var-node=192.168.195.3:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m&theme=light&panelId=155&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="col-md-4 mb-3">
    <iframe src="http://192.168.1.107:8082/d-solo/rYdddlPWk/node-exporter-full?orgId=1&from=1751321997381&to=1751332958575&timezone=browser&var-DS_PROMETHEUS=eeq08km2qqupsc&var-job=node-exporter-db&var-nodename=409-db&var-node=192.168.195.3:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m&theme=light&panelId=16&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="col-md-4 mb-3">
   <iframe src="http://192.168.1.107:8082/d-solo/rYdddlPWk/node-exporter-full?orgId=1&from=1751321997381&to=1751332958575&timezone=browser&var-DS_PROMETHEUS=eeq08km2qqupsc&var-job=node-exporter-db&var-nodename=409-db&var-node=192.168.195.3:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m&theme=light&panelId=21&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="col-md-4 mb-3">
    <iframe src="http://192.168.1.107:8082/d-solo/rYdddlPWk/node-exporter-full?orgId=1&from=1751321997381&to=1751332958575&timezone=browser&var-DS_PROMETHEUS=eeq08km2qqupsc&var-job=node-exporter-db&var-nodename=409-db&var-node=192.168.195.3:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m&theme=light&panelId=154&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="col-md-4 mb-3">
    <iframe src="http://192.168.1.107:8082/d-solo/rYdddlPWk/node-exporter-full?orgId=1&from=1751321997381&to=1751332958575&timezone=browser&var-DS_PROMETHEUS=eeq08km2qqupsc&var-job=node-exporter-db&var-nodename=409-db&var-node=192.168.195.3:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m&theme=light&panelId=14&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="col-md-4 mb-3">
    <iframe src="http://192.168.1.107:8082/d-solo/fejrdbvoe0miof/dashboard409?orgId=1&from=1735448687589&to=1751173487589&timezone=Asia%2FJakarta&var-Filters=&theme=light&panelId=2&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
{{ end }}